<?xml version="1.0" encoding="UTF-8"?>
<!-- script name should be in the format: \subfolder\ScriptName.ps1 -->
<!-- if there is no subfolder, the script name should be in the format: \ScriptName.ps1 -->
<!-- param name: actual parameter name inside the script without the powershell "$" -->
<!-- Powershell Boolean parameters must be passed as a string. The powershell parser can't coerce booleans for some reason. -->
<!-- Powershell arrays may be passed in as delimited strings, example "*.zip", "*.txt", "*.xls" - however you will need to split on the delimiter within the script -->
<!-- if <param name = "PassConfig">True</param> is sent, this configuration will be passed along to the called script. -->

<root>
	<globals>
		<logfile>{{USERPROFILE}}\Desktop\Powershell_Library\logs\Script-Library-{{DATE}}.log</logfile>
		<hostname name="{{HOSTNAME}}"></hostname>
	</globals>
	<script name="\clean_scripts\Clean-IE_Junk.ps1">
		<param name="UsersRoot">C:\Users</param>
		<param name="IETempFilesPath">AppData\Local\Microsoft\Windows\Temporary Internet Files</param>
		<param name="IEActiveFilesPath">AppData\Local\Microsoft\Internet Explorer\Recovery\Active</param>
		<param name="IEWebCacheFilesPath">AppData\Local\Microsoft\Windows\WebCache</param>
	</script>
	<script name="\sql_scripts\shrink_files\SQL-ShrinkAllLogs.ps1">
		<param name="DBServer">{{DBSERVER}}</param>
		<param name="DBName">master</param>
	</script>
	<script name="\sql_scripts\shrink_files\SQL-ShrinkAllData.ps1">
		<param name="DBServer">{{DBSERVER}}</param>
		<param name="DBName">master</param>
	</script>
	<script name="\sql_scripts\shrink_files\SQL-ShrinkIndexData.ps1">
		<param name="DBServer">{{DBSERVER}}</param>
		<param name="DBName">master</param>
	</script>
	<script name="\media_scripts\orphaned_media\Media-RemoveOrphanedFiles.ps1">
		<param name="ReportFile">{{USERPROFILE}}\Desktop\Powershell_Library\reports\{{HOSTNAME}}-{{DATE}}-LibraryOutput.csv</param>
		<param name="MediaRoot">\\{{HOSTNAME}}\Production Media\</param>
		<param name="DBServer">{{DBSERVER}}</param>
		<param name="DBName">master</param>
	</script>
	<script name="\media_scripts\extractor_rules\Extractor-CheckDeleteRules.ps1">
		<param name="ReportFile">{{USERPROFILE}}\Desktop\Powershell_Library\reports\{{HOSTNAME}}-{{DATE}}</param>
		<param name="UnifiedReport">False</param>
		<param name="DBServer">{{DBSERVER}}</param>
		<param name="DBName">master</param>
	</script>
</root>